*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "open sans";    
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    overflow:  hidden;
}
.titulo{
    color: #0e0e0e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/  

header{
    width: 100%;
    height: 700px;
    background:#000000;
background: -webkit-linear-gradient(to right, hsla(330, 2%, 80%, 0.459) , hsla(315, 18%, 83%, 0.664)), url(../img2/portadatoño.jpg);
background: linear-gradient(to right, hsla(3, 75%, 55%, 0.459) , hsla(320, 6%, 20%, 0.664)), url(../img2/portadatoño.jpg);
background-size:cover;
background-attachment: fixed;
position: relative;


}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav> a{
    color: #fff;
    font-weight: 300px;
    text-decoration: none;
    margin-right: 10px;
}
nav> a:hover{
   
    text-decoration: underline;  
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}
.textos-header h1 {
    font-family: "Sancreek", sans-serif;
}

.contenedor h2 {
    font-family: "Sancreek", sans-serif;
    font-size: 200%;
}
.textos-header h1{
    font-size: 50px;
    color: hsl(0, 15%, 92%);
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us*/
.main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.main .sobre-nosotrosdos{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotrosdos{
    text-align: left;
    display: unset;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 48%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    text-align: center;
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #18161a;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .5);
    margin-right: 10px;
    
}




.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300px;
    text-align: justify;

}
.contenido-texto-card h4{
    color: hsla(27, 76%, 56%, 0.616);
    font-family:initial;
    
}
.contenido-texto-card a{
    color:hsl(0, 0%, 77%);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* galeria*/
.portafolio{
    background: #f2f2f2;

}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);


}


.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(270, 100%, 98%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.hover-galeria a{
    color:black;
    text-decoration: none;
}

.hover-galeria p{
    text-align: center;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria img{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform:scale(1);
}

/* clientes*/
.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 25px 25px;
}

.cards .card{
    background: hsl(0, 0%, 1%);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, 0.6);
    

}

.cards .card img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;



}


.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
    
}

/* our team*/

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}

.servicio-cont{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;

}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind {
    font-weight: 300;
    text-align: justify;
}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow:hidden ;
}


.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}


.content-foo{
    text-align: center;

}

.content-foo h4{
    color: #fff;
    border-bottom:  3px solid #83aae4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
   
}




.content-foo a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:  rgba(255,255, 255, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.content-foo a:hover{
    color: #24262b;
    background-color: #ffffff;
}


.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;


}



@media screen and (max-width: 900px){
    header{
        background-position:center ;
    }
    .textos-header h1{
        font-size: 58px;
    }

    .textos-header h2{
        font-size: 58px;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .sobre-nosotros .contenido-textos{
        width: 90%;

    }
    .imagen-about-us{
        width: 98%;

    }
    /* galeria*/
    .imagen-port{
        width:60% ;
    }

    /*clientes*/
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        
        width: 600px;
    }
    .cards .card img{
        width: 180px;
        height: 180px;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    } 
    .servicio-ind img{
        width: 90%;
    }
    .contenido-principal__resumen{
        font-weight: 100px;
    }

}



@media screen and (max-width: 500px){
    header img{
        background-position: center;
    }
    header>img{
        object-fit: cover;
        width: 270px;
        height: auto;

    }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 40px;
    }

    .textos-header h2{
        font-size: 30px;
    }
    /*About us*/
    .imagen-about-us{
        margin-bottom: 60px;
        width: 270px;
        height: auto;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /* galeria*/
    .imagen-port{
        width: 100%;
    }
    .contenedor-sobre-nosotros{
        width: 100%;
        height: 200%;
    }
    

    /*clientes*/
    .cards .card{
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 150px;
        height: 150px;
    }
    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;

    }

}


@media screen and (max-width: 250px){
  
    header>h1{
        background-size: cover;
    }
    header>img{
        object-fit: cover;
        width: 270px;
        height: auto;
        background-position: center;

    }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size:30px;
    }
    /*About us*/
    .imagen-about-us{
        margin-bottom: 60px;
        width: 270px;
        height: auto;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /* galeria*/
    .imagen-port{
        width: 100%;
    }
    .contenedor-sobre-nosotros{
        width: 100%;
        height: 200%;
    }
    .contenedor h2{
        font-size: 30px;
    }
    .contenedor h3{
        font-size: 20px;
    }

    /*clientes*/
    .cards .card{
        text-align: center;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 140px;
        height: 140px;
    }
    .contenedor-footer{
        flex-direction: column;
    }

    .titulo{
        font-size: 40px;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;

    }

}


@media screen and (max-width: 200px){
    header{
        background-position: center;
    }
  
    header>h1{
        background-size: cover;
    }
    header>img{
        object-fit: cover;
        width: 270px;
        height: auto;
        background-position: center;

    }
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 20px;
    }

    .textos-header h2{
        font-size:20px;
    }
    /*About us*/
    .imagen-about-us{
        margin-bottom: 60px;
        width: 270px;
        height: auto;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /* galeria*/
    .imagen-port{
        width: 100%;
    }
    .contenedor-sobre-nosotros{
        width: 100%;
        height: 200%;
    }
    .contenedor h2{
        font-size: 30px;
    }

    /*clientes*/
    .cards .card{
        text-align: center;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 140px;
        height: 140px;
    }
    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;

    }

}

@media screen and (max-width: 1000px){
    header{
        background-position: center;
    }
    nav{
        font-size: 28px;
    }
    .textos-header h1{
        font-size: 70px;
    }
    .textos-header h2{
        font-size: 70px;
    }
    .contenedor h2{
        font-size: 55px;
    }
    .contenido-textos h3{
        font-size: 35px;

    }
    .contenido-textos h3 span{
        width: 40px;
        height: 40px;
    }
    .contenido-principal__contenedor h3{
        font-size: 35px;
        padding: 10px;

    }
    .contenido-principal__contenedor h3 span{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1200px){
    nav{
        font-size: 28px;
    }
    .textos-header h1{
        font-size: 70px;
    }
    .textos-header h2{
        font-size: 70px;
    }
    .contenedor h2{
        font-size: 55px;
    }
    .contenido-textos h3{
        font-size: 35px;

    }
    .contenido-textos h3 span{
        width: 40px;
        height: 40px;
    }
    .contenido-principal__contenedor h3{
        font-size: 35px;

    }
    .contenido-principal__contenedor h3 span{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1300px){
    header{background-position: center;}
    nav{
        font-size: 28px;
    }
    .textos-header h1{
        font-size: 70px;
    }
    .textos-header h2{
        font-size: 70px;
    }
    .contenedor h2{
        font-size: 55px;
    }
    .contenido-textos h3{
        font-size: 35px;

    }
    .contenido-textos h3 span{
        width: 40px;
        height: 40px;
    }
    .contenido-principal__contenedor h3{
        font-size: 35px;

    }
    .contenido-principal__contenedor h3 span{
        width: 40px;
        height: 40px;
    }
}


@media screen and (max-width: 1316px){
    header{
        background-position: center;
    }
    nav{
        font-size: 28px;
    }
    .textos-header h1{
        font-size: 70px;
    }
    .textos-header h2{
        font-size: 70px;
    }
    .contenedor h2{
        font-size: 55px;
    }
    .contenido-textos h3{
        font-size: 35px;

    }
    .contenido-textos h3 span{
        width: 40px;
        height: 40px;
    }
    .contenido-principal__contenedor h3{
        font-size: 35px;

    }
    .contenido-principal__contenedor h3 span{
        width: 40px;
        height: 40px;
    }
    .contenido-textos p{
        font-weight:400px;
        font-size: 25px;
    }
    .contenido-principal__resumen p{
        font-size: 800px;
        font-size: 700px;
        line-height:5px;
    }
    
    
    .carousel__elemento p{
        font-size: 25px;
        padding: 15px;
    }
    .contenido-texto-card h4{
        font-size: 25px;
    }
    .cards .card > .contenido-texto-card p{
        font-size: 25px;
        
    }
    .hover-galeria a{
        font-size: 25px;
    }
}

@media screen and (max-width: 400px){
    nav{font-size: 20px;}
    .textos-header h1{
        font-size: 55px;
    }
    .textos-header h2{
        font-size: 55px;
    }
    .contenedor h2{
        font-size: 35px;
    }
    .contenido-textos h3{
        font-size: 30px;
    }
    .contenido-principal__contenedor h3{
        font-size: 30px;
    }
    .contenido-textos h3 span{
        width: 35px;
        height: 35px;
    }

}
@media screen and (max-width: 314px){
    .textos-header h1 {
        font-size: 38px;
    }
    .textos-header h2 {
        font-size: 38px;
    }


}
@media screen and (max-width: 228px){
    .textos-header h1{
        font-size: 38px;
    }
    .textos-header h2{
        font-size: 28px;
    }

    
}
@media screen and (max-width: 214px){
    .textos-header h1{
        font-size: 28px;
    }
    .textos-header h2{
        font-size: 24px;
    }
    .cards .card > .contenido-texto-card p{
        font-size: 18px;
    }

    
}
@media screen and (max-width: 159px){
    .textos-header h1{
        font-size: 25px;
    }
    .textos-header h2{
        font-size: 20px;

    }
    .contenedor h2{
        font-size: 28px;
        background-position: center;
    }
}